

h1 {
    text-align: center;
}

.span {
    justify-content: center;
}
.container, .btn-container {
    text-align: center;
    justify-content: center;
}

.btn {
  background:white;
  border: solid 3px #a972cb;
  border-radius: 10px;
}

.decrease:hover {
    box-shadow: inset 0 -3.25em 0 0 rgb(233, 87, 87);
  }

.increase:hover {
    box-shadow: inset 0 -3.25em 0 0 rgb(86, 235, 86);
}

.garfield {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10px;
    background-blend-mode: lighten;
  }