body {
    background:white;
}

h1 {
    text-align: center;
}

.span {
    justify-content: center;
}
.container {
    text-align: center;
    justify-content: center;
}

.btn {
  background:white;
  border: solid 3px #a972cb;
}

.decrease:hover {
    box-shadow: inset 0 -3.25em 0 0 red;
  }

.increase:hover {
    box-shadow: inset 0 -3.25em 0 0 green;
}